# MiniZinc-specific artifacts
*.fzn
*.mzn

# Intermediate reports
*.csv
*.txt
*.sol
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

